*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;

}

.container {
    width: 50%;
    margin: 0 auto;
}
body{
    background-color: #f6f8f9;
}
/* header */
header{
    padding-top: 20px;
    padding-left: 20px;
    background-color: white;
    height: 100px;
    line-height: 50px;
}
.logo{
    width: 70px;
    margin-right: 5px;
    vertical-align: middle;
}
.logo-name{
    font-size: 50px;
    vertical-align: middle;
}
/* /header */

/* main */
main {
    background-color: white;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 40px;

}
        /* buttons */
        .first-button{
        margin-bottom: 20px;
            margin-top: 20px;
            height: 30px;
            background-color: #48adf1;
            border-radius: 7px;
            padding: 7px;
            color: white;
            border-color:#48adf1 ;
            

        }
            .second-button{
                height: 30px;
                border-radius: 7px;
                padding: 7px;
                color: lightslategray;
                border-color: lightslategray;
            }
        /* /buttons */



    /* /main */